<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jc-weather</string>
	<key>connections</key>
	<dict>
		<key>284CF2A9-0CAD-4D39-9A79-00D1BAE7EDCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4115C5B3-77B9-4623-9E77-E038C978B994</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>284CF2A9-0CAD-4D39-9A79-00D1BAE7EDCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83AF686-44AA-46E2-B388-7C9C53F30930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Show weather forecasts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Weather</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>weather</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from alfred_weather import WeatherWorkflow
WeatherWorkflow().tell('weather', '''{query}''')</string>
				<key>subtext</key>
				<string>Show current conditions and forecast (location optional)</string>
				<key>title</key>
				<string>Weather</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D83AF686-44AA-46E2-B388-7C9C53F30930</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Weather</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_weather import WeatherWorkflow
WeatherWorkflow().do('command', '''{query}''')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>284CF2A9-0CAD-4D39-9A79-00D1BAE7EDCA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wset</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from alfred_weather import WeatherWorkflow
WeatherWorkflow().tell('commands', '''{query}''')</string>
				<key>subtext</key>
				<string>Commands and settings</string>
				<key>title</key>
				<string>wset</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4115C5B3-77B9-4623-9E77-E038C978B994</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Version: 20130524.0

This workflow is based on David Ferguson's Weather workflow. It includes icon sets from the Weather Underground and from weathericonsets.com.</string>
	<key>uidata</key>
	<dict>
		<key>284CF2A9-0CAD-4D39-9A79-00D1BAE7EDCA</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4115C5B3-77B9-4623-9E77-E038C978B994</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>D83AF686-44AA-46E2-B388-7C9C53F30930</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jason0x43/jc-weather</string>
</dict>
</plist>
