<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jc-weather</string>
	<key>connections</key>
	<dict>
		<key>0FFDC898-D6CF-4099-BCD9-B5B9E435BA99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD0C7806-1EA7-4694-8940-66242272429B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>56D645A1-ACFA-4A97-B9A4-20DDBB3C0B35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDD3FAD2-F38F-4D02-94FA-C19E50918067</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BC2E4EDA-3EF7-4FF4-9708-BD60C615F674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9CE0791-C2A1-4E61-B879-54AD16FDD744</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD0C7806-1EA7-4694-8940-66242272429B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BDD3FAD2-F38F-4D02-94FA-C19E50918067</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D92A5EF7-61A4-420A-9F55-A9AAB29CCEBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA22AB2F-5F95-4ED4-9E56-A8470B7CD070</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DA22AB2F-5F95-4ED4-9E56-A8470B7CD070</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F9CE0791-C2A1-4E61-B879-54AD16FDD744</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Show weather forecasts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Weather</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('icons', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD0C7806-1EA7-4694-8940-66242272429B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('key', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA22AB2F-5F95-4ED4-9E56-A8470B7CD070</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>wset units</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('units', '{query}')</string>
				<key>subtext</key>
				<string>Choose your preferred unit system</string>
				<key>title</key>
				<string>units</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC2E4EDA-3EF7-4FF4-9708-BD60C615F674</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Weather</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wset location</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('location', '{query}')</string>
				<key>subtext</key>
				<string>Enter a ZIP code or city name</string>
				<key>title</key>
				<string>location</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>56D645A1-ACFA-4A97-B9A4-20DDBB3C0B35</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wset key</string>
				<key>subtext</key>
				<string>Enter your Weather Underground API key</string>
				<key>text</key>
				<string>key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D92A5EF7-61A4-420A-9F55-A9AAB29CCEBE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>wset icons</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('icons')</string>
				<key>subtext</key>
				<string>Choose an icon set</string>
				<key>title</key>
				<string>icons</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0FFDC898-D6CF-4099-BCD9-B5B9E435BA99</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>weather</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('weather', '{query}')</string>
				<key>subtext</key>
				<string>Show current conditions and forecast (location optional)</string>
				<key>title</key>
				<string>Weather</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('units', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9CE0791-C2A1-4E61-B879-54AD16FDD744</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('location', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDD3FAD2-F38F-4D02-94FA-C19E50918067</string>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow is based on David Ferguson's Weather workflow. It includes icon sets from the Weather Underground and from weathericonsets.com.</string>
	<key>uidata</key>
	<dict>
		<key>0FFDC898-D6CF-4099-BCD9-B5B9E435BA99</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>56D645A1-ACFA-4A97-B9A4-20DDBB3C0B35</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BC2E4EDA-3EF7-4FF4-9708-BD60C615F674</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BD0C7806-1EA7-4694-8940-66242272429B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BDD3FAD2-F38F-4D02-94FA-C19E50918067</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D92A5EF7-61A4-420A-9F55-A9AAB29CCEBE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>DA22AB2F-5F95-4ED4-9E56-A8470B7CD070</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F9CE0791-C2A1-4E61-B879-54AD16FDD744</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jason0x43/jc-weather</string>
</dict>
</plist>
